*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F9F5F0;
    color: rgb(51, 34, 17);

}
.navbar{
    height: 80px;
    width: 100%;
    background-color: rgb(45, 29, 26); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
}
.logo{
    color: white;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-left: 10px;
}
.menu{
    display: flex;
    gap: 30px;
    padding: 10px; 
}
.link{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: rgb(171, 157, 157);
}
.link:hover{
    color: white;
}
.main{
    color: white;
    background-image: url(https://images.unsplash.com/photo-1642227218426-3786b108ed00?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    height: 88vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.content {
    max-width: 800px;
    padding: 0 20px;
}

.content-title {
    color: white;
    font-size: 70px;
    font-weight: 900;
    margin-bottom: 20px;
}

.content-subtitle {
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
}
.button-exp {
    background-color: rgb(159, 157, 157);
    padding: 20px 40px;
    font-size: 25px;
    font-weight: 600;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}
.button-exp:hover{
    background-color: white;
    transform: translateY(-3px);
}

.d1{
    display: flex;
    flex-direction: column;
}
.menu-content{
    width: 100%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    
}
.menu-text{
    padding: 15px;
}
.menu_title{
    font-size: 45px;
}
.menu_subtitle{
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.coffee-card{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.card{
    width: 80%;
   border: 1px solid rgb(174, 110, 19);
   border-radius: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   margin: 15px;
   box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    /* transition: transform 0.3s ease; */
}
/* .card:hover{
    transform: translateY(-5px);
} */

.card-image{
    display: flex;
    align-items: center;
    padding: 10px;
    padding-right: 20px;
}
.coffee-card-img{
    border-radius: 20px;
}
.card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
.card-title{
    font-style: italic;
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 10px;
}
.card-button{
    height: 40px;
    width: 120px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(62, 33, 33);
    color: white;
    font-weight: bold;
    font-size: 15px;
}
